body {
	font-family: "Comic Sans MS", cursive, sans-serif; 
}

.h1eitt {
	color:#4286f4;
}

.h2eitt {
	color:#cc4820;
}

.h1tveir {
	color:#cc4820;
}

.alltimagine1 {
	color:#1212e8;
}

.alltimagine2 {
	color:#1212e8;
}

.imagine1 {
	color:#ea2c2c;
}

.imagine2 {
	color:#ea2c2c;
}

.namskrofur {
	color:#1212e8;
}

.elvis1 {
	color:#ea2c2c;
}

.elvis2 {
	color:#ea2c2c;
}

.elvis3 {
	color:#ea2c2c;
}

.elvis4 {
	color:#ea2c2c;
}

.firstborn {
	color:#1212e8;
}

.texti {
	color:#1212e8;
}

ul {
	color:#0c9917;
}
}
}

a:visited {
	color:#ea2c2c;

}

a:hover {
	color:#ea2c2c;
}

a:active {
	color:#ea2c2c;
}

a {
	color:#1212e8;
}